body {
	margin: 0px;
	background-color: #e5e5e5 !important;
}

#profile-body {
	background-color: white;
}

header {
	height: 65px;
	width: 100%;
	background-color: white;
	border-bottom: 2px solid #c1c1c1;
}

#header-content {
	padding: 10px 40px 10px 20px;
}

#logo {
	float: left;
	margin-right: 30px;
	border-radius: 50px;
}

input[type="text"] {
	background-color: white; 
	border-radius: 5px;
	padding: 3px 7px;
	border: 1px solid #d1d1d1;
	margin-right: 5px;
	margin-top: 2px;
}

.clear {
	clear: both;
}

#pin-img {
	float: right;
}

#post-details {
	border-radius: 10px !important;
	background-color: white;
	color: #1e1e1e;
	height: auto;
	margin: 10px;
	font-size: 16px;
	font-family: Georgia;
}

#post-content {
	margin-left: 35px;
	border-radius: 10px;
}

.link-button {
	text-decoration: none;
	color: #515151;
	float: left;
	margin-left: 18px;
}

.link-button:hover {
	color: #717171;
}

#topics {
	font-size: 35px;
}

#profile {
	font-size: 35px;
}

.clickable-username {
	text-decoration: none;
	color: #151515;
}

.clickable-username:hover {
	text-decoration: underline;
}


#profile-img {
	margin-right: 10px;
	border-radius: 50px;
	float: left;
}

.author {
	border-radius: 10px;
	padding: 10px 15px;
	font-style: italic;
	background-color: white;
	color: black;
}

.content {
	padding: 20px 15px 15px 15px;
	font-size: 15px;
}

.content:hover {
	cursor: url(/img/layout/backgrounds/zoom.cur), -moz-zoom-in;
}

.hashtag {
	padding: 0px 15px;
	color: #616161;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
}

#post-container {
	width: 1200px;
	margin: 0 auto;
}

.interact-container {
	cursor: pointer;
	width: 32.8%;
	float: left;
	text-align: center;
	padding: 10px 0px;
}

.interact-container-like {
	width: 32.85%;
	float: left;
	text-align: center;
	padding: 10px 0px;
}

.likes-count {
	color: #717171;
	font-size: 14px;
}

.interact {
	color: #717171;
	text-decoration: none;
	font-size: 14px;
}

.interact-container:hover {
	background-color: #f4f4f4;
}

#pin-container {
	border-top: 3px solid #4286f4;
}

#comm-container {
	border-top: 3px solid orange;
	border-right: 1px solid #d1d1d1;
	margin-right: 1px;
}

#delete-container {
	border-top: 3px solid orange;
	border-right: 1px solid #d1d1d1;
	margin-right: 1px;
}

#edit-container {
	border-top: 3px solid #4286f4;
}

#like-container {
	border-top: 3px solid orange;
	margin-left: 1px;
	border-left: 1px solid #d1d1d1;
}
 
#post-content {
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-moz-column-fill: balance;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	-webkit-column-fill: balance;
	column-count: 4;
	column-gap: 20px;
	column-fill: balance;
	width: 1200px;
}
 
#post-content #post-details{
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}

only screen and (max-device-width : 1199px){
	#post-content {
		-moz-column-count: 5;
		-moz-column-gap: 0px;
		-moz-column-fill: balance;
		-webkit-column-count: 5;
		-webkit-column-gap: 0px;
		-webkit-column-fill: balance;
		column-count: 5;
		column-gap: 0px;
		column-fill: balance;
		width: 1000px;
	}
	
	#post-container {
		width: 1000px;
	}
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	#post-content {
		-moz-column-count: 4;
		-moz-column-gap: 0px;
		-webkit-column-count: 4;
		-webkit-column-gap: 0px;
		column-count: 4;
		column-gap: 0px;
		width: 800px;
	}
	
	#post-container {
		width: 800px;
	}
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
	#post-content {
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-count: 34;
		column-gap: 0px;
		width: 600px;
	}
	
	#post-container {
		width: 600px;
	}
}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	#post-content {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
		width: 400px;
	}
	
	#post-container {
		width: 400px;
	}
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);     
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}


.other-modal-content {
    background-color: #fefefe;
    margin: -2% auto 0% auto;     
    border: 1px solid #888;
    width: 60%; 
    height: 90%;
}

.confirm-modal-content {
	background-color: #fefefe;
    margin: 10% auto 0% auto;     
    border: 1px solid #888;
    width: 40%; 
    height: 140px;
    border-radius: 10px;
}

.edit-modal-content {
	background-color: #fefefe;
    margin: 2% auto 0% auto;     
    border: 1px solid #888;
    width: 40%; 
    height: 350px;
    border-radius: 10px;
}

.modal-container {
    height: 400px;
    width: 100%;
}

/* Add Zoom Animation */
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
                
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#content-side {
	width: 50%;
	height: 100%;
	float: left;
	margin-right: 20px;
}

#content-side-container {
	width: 90%;
	height: 300px;
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#profile-img-in-modal {
	float: left;
	margin-right: 15px;
}

.author-in-modal {
	padding: 10px 0px 40px 0px;
	font-style: italic;
	font-size: 20px;
}

#pin-img-in-modal {
	float: right;
}

.content-in-modal {
	padding: 10px 25px;
	font-size: 18px;
}

.hashtag-in-modal {
	padding: 10px 15px;
	font-size: 16px;
	font-style: italic;
	color: #313131;
}

#modal-textarea {
	width: 350px;
	padding: 5px;
	margin: 10px 0px 10px 10px;
	border: 2px solid #919191;
	border-radius: 2px;
	font-size: 15px;
	font-family: Georgia;
}

#comment-title {
	margin: 0px 0px 5px 10px;
	font-weight: bold;
}

#prof-icon {
	float: left;
	margin-right: 20px;
}

.material-icons {
	color: #717171;
}

.material-icons:hover {
	color: #414141;
}

#profile-icons {
	margin-bottom: 30px;
}

#user-plus-img {
	height: 200px;
}

#userdetails {
	width: 85%;
	float: left;
	margin-top: 20px;
}

.stats {
	float: left;
	width: 20%;
	color: #515151;
	font-family: Arial;
	font-size: 14px;
}

.count {
	font-size: 26px;
	font-weight: bold;
}

#stats-container {
	height: 90px;
}

#upper-profile {
	width: 50%;
	margin-left: 25%;
	padding-top: 50px;
}


#img-profile {
	float: right;
}

#profile-container {
	background-color: white;
	border-bottom: 5px solid #d1d1d1;
}

#profile-username {
	font-size: 35px;
	float: left;
	font-family: Arial;
	font-weight: bold;
	color: #515151;
}

#profile-content {
	min-height: 500px;
	background-color: #efefef;
}

#profile-board-name {
	padding: 3px 3px 0px 10px;
	margin-bottom: 10px;
	background-color: #4286f4;
	color: white;
}

#prompt-container {
	padding: 20px 20px 30px 20px;
	border-bottom: 2px solid #d1d1d1;
}

#edit-textarea {
	margin-top: 30px;
	width: 400px;
	padding: 5px;
	border: 2px solid #919191;
	border-radius: 2px;
	font-size: 15px;
	font-family: Georgia;
}

#dropdown-title {
	float: left;
	font-size: 18px;
}

#dropdown-topic-container {
	margin: 10px 0px 10px 55px;
}

#dropdown-title {
	margin: 2px 10px 0px 0px;
}

#edit-buttons {
	margin: 60px 20px 0px 0px;
	float: right;
}

.edit-options-link {
	color: white;
	background-color: #0a306d;
	padding: 10px;
	border-radius: 7px;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
}

.delete-options-link {
	color: white;
	background-color: #0a306d;
	padding: 10px;
	border-radius: 7px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 14px;
}

#prompt {
	font-size: 18px;
}

#delete-buttons {
	float: right;
	margin: 25px 20px 0px 0px;
}

#middle-div {
	height: 60px;
}

.edit-user-info {
	background-color: #fefefe;
    margin: 0% auto 0% auto;     
    border: 1px solid #888;
    width: 40%; 
    height: 400px;
    border-radius: 10px;
}

.add-modal-content {
	background-color: #fefefe;
    margin: 0% auto 0% auto;     
    border: 1px solid #888;
    width: 40%; 
    height: 370px;
    border-radius: 10px;
}

#add-textarea {
	margin-top: 10px;
	margin-left:30px;
	width: 400px;
	padding: 5px;
	border: 2px solid #919191;
	border-radius: 2px;
	font-size: 15px;
	font-family: Georgia;
}

#label-add{
	margin-left:30px;
}

#select-button{
	margin-left:30px;
}

#add-cancel{
	float: right;
	margin-right: 30px;
	margin-top: 50px;
}

.add-cancel-options-link {
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	background-color: #0a306d;
	margin-left: 8px;
	border-radius: 8px; 
	cursor: pointer;
}

#add-pin {
	float: right;
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	border-radius: 7px;
	background-color: #0a306d;
	margin-right: 30px;
	cursor: pointer;
}

#view-button {
	float: left;
}

label {
	float: left;
	margin-right: 10px;
}

#logout {
	color: #a1a1a1;
	text-decoration: none;
	cursor: pointer;
	padding: 20px 0px 0px 10px;
}

#logout:hover {
	color: #616161;
}

#left-buttons {
	margin-left: 50px;
}
